<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="style.css" />
    
    <script src="cordova.js"></script>
    <script>
      document.addEventListener("deviceready", function () { alert('bri li bi bli'); });
    </script>
    
    <script src="vendor/angular.js"></script>
    
    <script src="gotick.js"></script>
    <script src="device.js"></script>
    <script src="chrono.js"></script>
  </head>

  <body ng-app="gotick" ng-controller="clock">
    <div ng-click="switchPlayer()" class="clock">
      
      <div ng-class="{ current: !isBlackPlaying }" class="switch">
        <div class="box player white rotate">
          <p class="time-left" ng-bind="msFmt(white.remainingTime())"></p>
          <p class="periods-left" ng-bind="white.remainingPeriods() + ' x ' + msFmt(settings.period * 1000)"></p>
        </div>
      </div>
      <div ng-class="{ current: isBlackPlaying }" class="switch">
        <div class="box player black">
          <p class="time-left" ng-bind="msFmt(black.remainingTime())"></p>
          <p class="periods-left" ng-bind="black.remainingPeriods() + ' x ' + msFmt(settings.period * 1000)"></p>
        </div>
      </div>
    </div>
    
    <div ng-if="showMenu" ng-include="'menu.html'" class="backdrop"></div>
    <div ng-if="showSettings" ng-include="'settings.html'" class="backdrop"></div>
  </body>

</html>
