body {
  margin: 0;
  background-color: lightgrey;
}

form {
  display: inline;
}

input {
  width: 30px;
}

p {
  font-family: "Arial";
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.settings {
  margin: 10px;
}

.clock {
  position: absolute;
  width: 100%;
  top: 2.5em;
  bottom: 0;
}

.switch {
  position: relative;
  display: block;
  width: 100%;
  height: 25%;
}

.switch.current {
  height: 75%;
}

.player {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
}

.player.black {
  background-color: black;
  color: white;
}

.player.white {
  background-color: white;
  color: black;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.time-left {
  font-size: 3em;
}

.periods-left {
  font-size: 1.5em;
}

.current .time-left {
  font-size: 6em;
}

.current .periods-left {
  font-size: 3em;
}
