* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
} 

body {
  margin: 0;
  background-color: #ff6;
}

form {
  display: inline;
}

input {
  width: 2.2em;
}

p {
  font-family: "Arial";
  font-weight: bold;
  padding: 0;
  margin: 0;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.settings {
  margin: 0.4em;
}

.clock {
  position: absolute;
  width: 100%;
  top: 2em;
  bottom: 0;
}

.switch {
  position: relative;
  display: block;
  width: 100%;
  height: 25%;
}

.switch.current {
  height: 75%;
}

.player {
  position: absolute;
  top: 0.4em;
  bottom: 0.4em;
  left: 0.4em;
  right: 0.4em;
  padding: 0 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
}

.player:active {
  box-shadow: none;
}

.player.black  {
  top: 0.2em;
  background-color: black;
  color: white;
}

.player.white {
  bottom: 0.2em;
  background-color: white;
  color: black;
}

.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.time-left {
  font-size: 3em;
}

.periods-left {
  font-size: 1.5em;
}

.current .time-left {
  font-size: 6em;
}

.current .periods-left {
  font-size: 3em;
}
