<div class="settings box white">
  <h1>Game Settings</h1>
  
  <form>
    <table>
      <tr>
        <td>Main duration (minutes)</td>
        <td><input type="number" ng-model="settings.main" name="main" /></td>
      </tr>
      <tr>
        <td>Number of periods</td>
        <td><input type="number" ng-model="settings.periods" name="periods" /></td>
      </tr>
      <tr>
        <td>Period duration (seconds)</td>
        <td><input type="number" ng-model="settings.period" name="period" /></td>
      </tr>
    </table>
  </form>
  
  <div class="btn" ng-click="newGame()">
    <div class="box blue">
      <div class="centered">Start</div>
    </div>
  </div>
</div>
